body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.board {
  height: 540px;
  width: 490px;
  margin: 0 auto;
}

nav {
  margin: 20px 0;
}

nav button {
  width: 100px;
  margin: 0 30px;
}

.tile {
  width: 60px;
  height: 39px;
  background: lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  float: left;
  text-align: center;
  padding-top: 20px;
}

.tile:nth-child(8n+9) {
  border-right: 1px solid black;
}

.tile:nth-child(1n+58) {
  border-bottom: 1px solid black;
}

.msg {
  width: 490px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
}

.lose {
  background: #d00;
  color: white;
}

.win {
  background: #0b0;
  color: white;
}

.warning {
  background: #ff0;
  color: black;
}
